// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

#commit-nav {
}

#content {
  height: 100%;
  width: 100%;
}

.goals-index {
  height: 100%;
  width: 100%;
  text-align: center;
}

.goal-show-container {
  width: 100%
}

.goal-show {
  margin: 20px;
  text-align: center;
  display: inline-block;
  min-height: 200px;
  max-width: 500px;
  border: 1px solid grey;
  border-radius: 5px;
}

.goal-title {
  font-size: 2.3em;
}

.daily-goal {
}

.daily-goal-item {
}

.daily-goal-item .make-commit {
  float:right;
}

.delete-commit {
  margin-bottom: 5px;
}

.dg-level {
}

.steps-index {
}

.step-square {
  width: 20px;
  height: 20px;
  display: inline-block;
}
  .none {
    background-color: lightgrey;
  }

  .minimum {
    background-color: #88F07B;
  }

  .sufficient {
    background-color: #3DF025;
  }

  .maximum {
    background-color: #259117;
  }
